__pycache__/
*.py[cod]
*$py.class
# C extensions
*.so
*.egg-info
eggs/
*.mo
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
.Python
bin/
buildout-cache/
develop-eggs/
parts/
var/
htmlcov/
.coverage
*.log
output.xml
*.swp
log.html
report.html
include/
lib/
local/
pip-selfcheck.json
/*.sublime-workspace
/.vscode
pyvenv.cfg
/venv
.python-version